
*{margin: 0; padding: 0; box-sizing: border-box;}


.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


  /*
  * Base structure
  */


  




/*
 * Header
*/header {
  padding-bottom: 1rem;
  border-bottom: .25rem solid rgba(255, 255, 255, .25);
}


.banner-wrap {
  background-color: rgb(37, 32, 72);
    background-image: url("2024-06-17-20-09-44.jpg");}

    body {
      font-family: 'Arial', sans-serif;
      background-color:  rgb(37, 32, 72);
    }
   
.logo{color: #ffba08; }
    

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
  transition: all;
  
}

.nav-masthead .nav-link:hover{
  color: rgba(255, 255, 255, .75);
  border-bottom-color:#ffba08;
  transition: all 0.5s;
  text-transform: uppercase;
}
.nav-masthead .nav-link:focus {
  border-bottom-color: #ffba08; 
  
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


.scrolling{background-color: black;
  opacity: 90%;
transition: all 0.5s;
}

#name2{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  width: 100%;
  
  
  
}

#name1 p{
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0.5rem;
  color: #ffba08;
}

h1{
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  color: white;
}

#name2 a i {
  color: #f8f8f8;
  font-size: 2.5rem;
  margin-top: 1rem;
  display: inline-block;
  transition: all 0.3s ease; 
}

#name2 a i:hover {
  color: #ffba08;
  transform: scale(1.2);
  text-shadow: 0 0 20px rgba(244, 242, 238, 0.8);
}



#pic{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ffba08;
  box-shadow: 2px 2px 15px #ffba08;
  display: inline-block;
  transition: all 0.3s ease; 
}

main #pic:hover{
  box-shadow: 0 0 20px rgba(255, 186, 8, 0.8);
  transition: all 0.3s ease;
transform: scale(1.1);
}

#name2 h1{
  color: rgb(243, 229, 229);
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  
}

.contains{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 4px solid #ffba08;
  border-radius: 35px;
  background-color: transparent;
  color: white;
}

.contains .inside{background-color: transparent;}

mark{background-color: #ffba08;
    color: rgb(37, 32, 72);
    border-radius: 30px;
    padding: 0.2rem 0.5rem;
    font-size: 2rem;
}

.card-body img{
  border-radius: 35px;
  
}

.contains1{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 4px solid #ffba08;
  border-radius: 35px;
  background-color: transparent;
  color: white;
}

.card1{
  border-radius: 25px;
  color: black;
  background-color: white;
  padding: 0.5rem;
  
}

.card1:hover{
  box-shadow: 0 0 20px rgba(244, 242, 238, 0.8);
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.card1 img{
  border-radius: 25px;
}

.btns a .btn{
  border-radius: 25px;
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  margin: 0.5rem;
  font-weight: bold;
}
  
.btns a .btn:hover{
  box-shadow: 0 0 20px rgba(244, 242, 238, 0.8);
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.btns #one{
  background-color: #ffba08;
  color: rgb(0, 0, 0);
  
}

.btns{border: 0.1px solid #ffba08;
  border-radius: 25px;
  padding: 0.5rem;
  display: inline-block;
  width: 400px;
  align-items: center;
}

.form-control{
  background-color: transparent;
  border-radius: 25px;
  padding: 0.5rem;
  color: white;
  width: 100%;
  outline: none;
  border: none;
  border: 0.1px solid #777778;
  transition: all 0.3s ease;
}

#cover{
  border-bottom: #777778 0.1px solid;
}