/*
 * Globals
 */
*{margin: 0; padding: 0; box-sizing: border-box;}

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  
}




/*
 * Header
 */
.banner-wrap {
    background-image: url("images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-bottom: 8px solid #222;
    position: relative;
}

overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    position: absolute;
    opacity: 30%;
    
}
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover{
  color: rgba(255, 255, 255, .75);
  border-bottom-color: ;
}
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


.scrolling{background-color: black;
  opacity: 90%;
transition: all 0.5s;
}